[Unit]
Description=MU300 compressed swap in RAM (zram)
DefaultDependencies=no
After=local-fs.target
Before=swap.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/mu300/bin/zram-start
ExecStop=-/usr/sbin/swapoff /dev/zram0

[Install]
WantedBy=swap.target
